#panel {
    background-color: transparent;
    font-family: 'Ubuntu Sans' !important;
    font-style: normal !important;
    font-weight: 500;
    font-size: 14px;
    padding: 1px 0 1px 0;
}

#panel .panel-button {
    color: white !important;
    padding: 0px !important;
}

#panel #quickSettings {
    -st-x-align: end;
}

#panel #quickSettings > StBoxLayout {
    -st-box-flow: end; 
    -st-x-align: end;  
    margin-left: 1px; 
    margin-right: 1px; 
    spacing: 0px;
}

